<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Feed Me! -->
        <link rel="alternate" type="application/atom+xml" title="{{ site.name | xml_escape }}" href="{{ site.uri }}/atom.xml" />
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a>{{ page.title }}</h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                {{ site.author }}<br />
                Tinkerer Extraordinaire
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/jpetazzo">github.com/jpetazzo</a><br />
                <a href="https://hachyderm.io/@jpetazzo" rel="me">@jpetazzo@hachyderm.io</a>
                <a href="https://twitter.com/jpetazzo">twitter.com/jpetazzo</a><br />
              </p>
            </div>
	  </div>
	  <div class="cc">
	  <!--<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>-->
	  <p>This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://jpetazzo.github.io/" property="cc:attributionName" rel="cc:attributionURL">Jérôme Petazzoni</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
	  </div>
	</div>
    </body>
</html>
